<div class="h-20 w-full  border-b-gray-300 border-b shadow">
  <div class="h-20 w-full container mx-auto flex items-center justify-evenly">
    <img class="w-20 object-cover " src="assets/LogoGV.png"/>
    <ul class="flex flex-row w-full items-center justify-center gap-3 font-semibold text-md text-gray-400">
      <li [routerLink]="'/home'" class="hover:text-primary transition-colors duration-100" routerLinkActive="text-primary">Home</li>
      <li [routerLink]="'/catalogus'" class="hover:text-primary transition-colors duration-100" routerLinkActive="text-primary">Catalogus</li>
      <li class="hover:text-primary transition-colors duration-100" routerLinkActive="text-primary">Contact</li>
      <li class="hover:text-primary transition-colors duration-100" routerLinkActive="text-primary">FAQ</li>
    </ul>
    <div class="text-primary flex flex-row gap-2">
      <app-shopping-cart class="cursor-pointer"></app-shopping-cart>
      <app-account-icon [routerLink]="'/auth/account'" class="cursor-pointer"></app-account-icon>
    </div>
  </div>
</div>
