<main class="grid place-items-center bg-white h-screen my-auto">
    <div class="text-center">
        <p class="text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl font-semibold text-green-600">Groene Vingers</p>
        <h1 class="mt-4 text-xl font-bold tracking-tight text-gray-900">Nieuwe Webshop</h1>
        <p class="text-base leading-7 text-gray-600">Sorry, onze nieuwe webshop zal binnenkort beschikbaar zijn.</p>
        <a href="contact" class="mt-10 text-sm font-semibold text-gray-900">Contact opnemen <span aria-hidden="true">&rarr;</span></a>
    </div>
</main>